
.rectangle-node {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 30px;
    color: #333;
   }
   
   .rectangle-node .handle {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: move;
   }
/* 
.rectangleNode {
    height: 50px;
    width: 70px;
    border: 1px solid;
  } */

  .custom-node {
    width: fit-content;
    height: auto;
    padding: 10px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    min-width: 100px;
    min-height: 30px;
  }